@tailwind base;
@tailwind components;

@font-face {
  font-family: "gooper";
  src: url("/fonts/gooper-semibold.otf") format("opentype");
}

*,
*::before,
*::after {
  @apply m-0 box-border p-0;
}

html,
body {
  @apply min-h-full w-full;
}

body {
  @apply flex flex-col bg-beige font-poppins;
}

#__next {
  @apply flex min-h-screen w-full;
}

h1 {
  @apply font-gooper text-4xl font-semibold;
}

.button-primary {
  @apply flex h-12 w-full items-center justify-center rounded-lg bg-navy-blue shadow-lg sm:max-w-lg md:w-auto md:px-10;
}

.button-secondary {
  @apply flex h-10 items-center justify-center rounded-xl border border-solid border-navy-blue px-4 shadow-sm transition-colors hover:bg-blue-500 hover:text-white md:px-8 lg:px-10;
}

.aspect-ratio-box {
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.markdown {
  @apply text-base;
  @apply leading-normal;
  @apply font-light;
  @apply text-neutral-300;
}

.markdown h1 {
  @apply text-2xl;
  @apply mt-1;
  @apply mb-3;
  @apply text-white;
}

.markdown h2 {
  @apply text-xl;
  @apply mt-1;
  @apply mb-3;
  @apply text-white;
}

.markdown h3 {
  @apply text-lg;
  @apply mt-1;
  @apply mb-3;
  @apply text-white;
}

.markdown h4 {
  @apply text-base;
  @apply mt-1;
  @apply mb-3;
  @apply text-white;
}

.markdown h5 {
  @apply text-base;
  @apply mt-1;
  @apply mb-3;
  @apply text-white;
}

.markdown hr {
  @apply border-neutral-500;
  @apply my-3;
}

.markdown p {
  @apply my-3;
}

.markdown ul {
  list-style: disc;
  @apply p-2;
}

.markdown li {
  @apply mb-1;
}

.markdown strong {
  @apply text-white;
  @apply font-semibold;
}

@tailwind utilities;
